body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: right;
}

nav ul  {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none ;
    font-size: 18px;
}

.products {
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}

.product-card {
    background-color: rgb(255, 255, 255);
    border: 1px solid #fffdfd;
    border-radius: 5px;
    width: 270px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-card h3 { 
    font-size: 1.2em;
    margin: 10px 0; 
}

.product-card p {
    font-size: 1em;
    margin: 10px 0;
    color: #555;
}

.product-card span {
    font-weight: bold;
    color: #020101;
}

.product-card button {
    background-color: #242724;
    color: white;
    border: none;
    padding: 5px;
    width: 50%;
    border-radius: 10px;
    cursor:alias;
}
.product-card button:hover {
    background-color: #45a049;
}

